<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon-v3.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/favicons/favicon-96x96-v3.png' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicons/favicon-v3.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon-v3.ico' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">