<header id="topbar-wrapper" class="flex-shrink-0" aria-label="Top Bar">
  <div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 h-100">

    {% unless page.layout == 'home' %}
      <nav id="breadcrumb" aria-label="Breadcrumb">

        {% if page.layout == 'post' %}
          {% assign parent_category = page.categories | first %}

          {% if parent_category %}
            {% assign parent_category_slug = parent_category | slugify %}
            {% assign parent_category_url = '/categories/' | append: parent_category_slug | append: '/' %}

            <span class="breadcrumb-parent">
              <a href="{{ parent_category_url | relative_url }}">
                {{- parent_category -}}
              </a>
            </span>
            <span class="breadcrumb-current" aria-current="page">
              {{- page.title -}}
            </span>
          {% else %}
            <span class="breadcrumb-parent">
              <a href="{{ '/' | relative_url }}">
                {{- site.data.locales[include.lang].tabs.home | default: 'Home' | capitalize -}}
              </a>
            </span>
            <span class="breadcrumb-current" aria-current="page">
              {{- page.title -}}
            </span>
          {% endif %}

        {% elsif page.layout == 'category' %}
          <span class="breadcrumb-parent">
            <a href="{{ '/categories/' | relative_url }}">
              {{- site.data.locales[include.lang].tabs.categories | default: 'Categories' -}}
            </a>
          </span>
          <span class="breadcrumb-current" aria-current="page">{{- page.title -}}</span>

        {% elsif page.layout == 'tag' %}
          <span class="breadcrumb-parent">
            <a href="{{ '/tags/' | relative_url }}">
              {{- site.data.locales[include.lang].tabs.tags | default: 'Tags' -}}
            </a>
          </span>
          <span class="breadcrumb-current" aria-current="page">{{- page.title -}}</span>

        {% else %}
          <span class="breadcrumb-parent">
            <a href="{{ '/' | relative_url }}">
              {{- site.data.locales[include.lang].tabs.home | default: 'Home' | capitalize -}}
            </a>
          </span>
          <span class="breadcrumb-current" aria-current="page">{{- page.title -}}</span>
        {% endif %}

      </nav>
    {% endunless %}

    <button type="button" id="sidebar-trigger" class="btn btn-link" aria-label="Sidebar">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.data.locales[include.lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {% assign tab_key = page.url | split: '/' | last %}
        {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <button type="button" id="search-trigger" class="btn btn-link" aria-label="Search">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <search id="search" class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="Search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </search>

    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>